audioread==2.1.6
decorator==4.3.0
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
jams==0.3.2
joblib==0.13.1
jsonschema==2.6.0
librosa==0.6.2
llvmlite==0.27.0
MIDIUtil==1.2.1
mir-eval==0.5
numba==0.42.0
numpy==1.16.0
pandas==0.23.4
pkg-resources==0.0.0
python-dateutil==2.7.5
pytz==2018.9
resampy==0.2.1
scikit-learn==0.20.2
scipy==1.2.0
singledispatch==3.4.0.3
six==1.12.0
sortedcontainers==2.1.0
vamp==1.1.0
